*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 94%;
  margin: auto;
}
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: #f9fafb;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-rows: repeat(12, auto);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.Sidebar {
  grid-area: 1 / 1 / 2 / 2;
}

.current-balance-card {
  grid-area: 3 / 1 / 4 / 2;
}

.header-section {
  grid-area: 2 / 1 / 3 / 2;
}

.income-card {
  grid-area: 4 / 1 / 5 / 2;
}

.expenses-card {
  grid-area: 5 / 1 / 6 / 2;
}

.recent-activities-card {
  grid-area: 6 / 1 / 7 / 2;
}

.recent-transactions-card {
  grid-area: 7 / 1 / 8 / 2;
}

.monthly-bills-card {
  grid-area: 8 / 1 / 9 / 2;
}

.budget-overview-card {
  grid-area: 9 / 1 / 10 / 2;
}

.income-vs-expenses-chart-card {
  grid-area: 10 / 1 / 11 / 2;
}

.account-summary-card {
  grid-area: 11 / 1 / 12 / 2;
}

.payment-methods-card {
  grid-area: 12 / 1 / 13 / 2;
}

.action-item {
  transition: all 0.3s ease;
}

.action-item:hover {
  transform: translate(3px, -3px);
}

.action-item:hover .action-text {
  color: #111827 !important;
}

.Sidebar .inner {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100dvh;

  background-color: #f9fafb;
  padding: 24px 20px;
  border-left: 1px solid #e5e7eb;
  overflow-y: auto;
  display: none;
}

.pointer {
  cursor: pointer;
}

.icon-box {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-14 {
  margin-top: 14px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.pb-10 {
  padding-bottom: 10px;
}

.font-16 {
  font-size: 16px;
}

.color-1447e6 {
  color: #1447e6;
}
.color-155DFC {
  color: #155dfc;
}
.color-8D95A1 {
  color: #8d95a1;
}
.color-6A7282 {
  color: #6a7282;
}

.background-2F4DEF {
  background-color: #2f4def;
}
.bg-EFF6FF {
  background-color: #eff6ff;
}

.border-bottom-e5e7eb {
  border-bottom: 1px solid #e5e7eb;
}
.border-e5e7eb {
  border: 1px solid #e5e7eb;
}

.border-radius-15 {
  border-radius: 15px;
}
.border-radius-12 {
  border-radius: 12px;
}
.border-radius-10 {
  border-radius: 10px;
}

.padding-6-10 {
  padding: 6px 10px;
}

.header-section {
  margin-top: 14px;
}
.header-section .inner {
  border-radius: 15px;
  border: 1px solid #e2c6c8;
  padding: 16px;
}
.header-section .detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-section .detail .info {
  margin-left: auto;
  padding: 0 15px;
  text-align: end;
}
.header-section .detail .info span {
  font-size: 32px;
  font-weight: 700;
  color: #101828;
}
.header-section .detail .info p {
  font-weight: 600;
  color: #4a5565;
}
.header-section .detail .icon {
  padding: 14px;
  background-color: #324ced;
  border-radius: 16px;
}
.header-section .detail .icon span {
  color: #ffff;
}
.header-section .image {
  width: 13%;
  border: 1px solid #808080;
  border-radius: 14px;
  padding: 5px 11px;
  transition: box-shadow 0.3s;
}
.header-section .image img {
  width: 100%;
  border-radius: 10px;
}
.header-section .image:hover {
  box-shadow: 0 3px 2px 1px #e0e1e5;
}

.header-section .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
.header-section .item .search .icon-1 {
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 5px;
  padding: 5px;
  padding-right: 0;
  position: relative;
  transition: background-color 0.4s;
}
.header-section .item .search .icon-1 sup {
  border-radius: 100%;
  background-color: #fb2c36;
  padding: 0 4px;
  color: #fff;
  position: absolute;
  top: -10px;
  right: -4px;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header-section .item .search .icon-2 {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  transition: background-color 0.4s;
}
.header-section .item .search .icon-1:hover,
.header-section .item .search .icon-2:hover {
  background-color: rgba(128, 128, 128, 0.071);
}
.header-section .connect {
  margin-top: 14px;
  background-color: #f0fdf4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}
.header-section .connect .con-1 {
  color: #008236;
}
.header-section .connect span {
  color: #008236;
  font-size: 10px;
}
.current-balance-card {
  margin-top: 20px;
}
.current-balance-card .inner {
  padding: 30px;
  border: 1px solid #e2c6c8;
  border-radius: 15px;
  text-align: end;
}
.current-balance-card .inner .balance {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.font-14 {
  font-size: 14px;
  font-weight: 600;
}
.color {
  color: #6a7282;
}
.font-30 {
  font-size: 30px;
  font-weight: 700;
  color: #101828;
}
.color-orange {
  color: #00a63e;
}
.income-card {
  margin-top: 20px;
}
.income-card .inner {
  padding: 30px;
  border: 1px solid #e2c6c8;
  border-radius: 15px;
  text-align: end;
}
.income-card .inner .balance {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.expenses-card {
  margin-top: 20px;
}
.expenses-card .inner {
  padding: 30px;
  border: 1px solid #e2c6c8;
  border-radius: 15px;
  text-align: end;
}
.expenses-card .inner .balance {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.color-red {
  color: #e7000b;
}
.recent-activities-card {
  margin-top: 20px;
  border: 1px solid #e2c6c8;
  border-radius: 15px;
}
.recent-activities-card .inner {
  padding: 15px 20px;
  text-align: end;
}
.recent-activities-card .inner h2 {
  font-weight: 600;
  color: #101828;
  font-size: 16px;
}
.recent-activities-card .inner .contain {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: #eff6ff;
  border: 1px solid #eff6ff;
  border-radius: 9px;
  position: relative;
}
.recent-activities-card .inner .contain::before {
  content: "";
  width: 3%;
  height: 100%;
  background-color: #2b7fff;
  position: absolute;
  top: -1%;
  left: -1%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  z-index: -1;
}
.recent-activities-card .contain span {
  font-size: 12px;
  color: #155dfc;
  font-weight: 500;
  padding-left: 10px;
}
.recent-activities-card .contain .item {
  width: 70%;
  padding: 20px 15px;
}
.recent-activities-card .contain .detail {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
.recent-activities-card .contain .detail .img {
  width: 12%;
  background-color: #dbeafe;
  border-radius: 50%;
  padding: 7px;
}
.recent-activities-card .contain .detail .img img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recent-activities-card .contain .detail .info span {
  font-weight: 700;
  color: #101828;
  width: 20%;
}
.recent-activities-card .contain .detail .info p {
  font-size: 12px;
  font-weight: 600;
  color: #4a5565;
}
.recent-activities-card .contain .detail span {
  font-size: 12px;
  font-weight: 600;
  color: #4a5565;
}
.recent-activities-card .contain .item span.time {
  padding-right: 40px;
  padding-top: 25px;
  color: #6a7282;
  font-weight: 600;
}
.recent-activities-card .inner .contain-1 {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: #f0fdf4;
  border: 1px solid #f0fdf4;
  border-radius: 9px;
  position: relative;
}
.recent-activities-card .inner .contain-1::before {
  content: "";
  width: 3%;
  height: 100%;
  background-color: #00c950;
  position: absolute;
  top: -1%;
  left: -1%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  z-index: -1;
}
.recent-activities-card .contain-1 span {
  font-size: 12px;
  color: #00a63e;
  font-weight: 500;
  padding-left: 10px;
}
.recent-activities-card .contain-1 .item {
  width: 70%;
  padding: 20px 15px;
}
.recent-activities-card .contain-1 .detail {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
.recent-activities-card .contain-1 .detail .img {
  width: 12%;
  background-color: #dbeafe;
  border-radius: 50%;
  padding: 7px;
}
.recent-activities-card .contain-1 .detail .img img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recent-activities-card .contain-1 .detail .info span {
  font-weight: 700;
  color: #101828;
  width: 20%;
}
.recent-activities-card .contain-1 .detail .info p {
  font-size: 12px;
  font-weight: 600;
  color: #4a5565;
}
.recent-activities-card .contain-1 .detail span {
  font-size: 12px;
  font-weight: 600;
  color: #4a5565;
}
.recent-activities-card .contain-1 .item span.time {
  padding-right: 40px;
  padding-top: 25px;
  color: #6a7282;
  font-weight: 600;
}

.recent-activities-card .inner .show {
  padding: 16px 0 0 0;
  text-align: center;
}
.recent-activities-card .inner .show p {
  padding-top: 10px;
  color: #1447e6;
  font-weight: 500;
  transition: cursor 0.4s;
}
.recent-activities-card .inner .show:hover p {
  cursor: pointer;
}
.recent-transactions-card {
  margin-top: 20px;
  min-width: 0;
}
.recent-transactions-card .inner {
  padding: 20px 15px;
  border: 1px solid #e2c6c8;
  border-radius: 15px;
}
.recent-transactions-card .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.recent-transactions-card .info .color-C5FFFF {
  color: #6a7282;
  transition:
    color 0.3s,
    cursor 0.4s;
}
.recent-transactions-card .info .color-C5FFFF:hover {
  color: #101828;
  cursor: pointer;
}
.color-101828 {
  color: #101828;
}
.font-weight {
  font-weight: 600;
}
.font-size {
  font-size: 12px;
}
.color-6a7282 {
  color: #6a7282;
}
.recent-transactions-card .data {
  width: 100%;
  overflow-x: auto;
  padding-top: 22px;
}
.recent-transactions-card .data table {
  width: 100%;
  min-width: 700px;
  border-collapse: collapse;
}

.color-364153 {
  color: #364153;
}
.font-12 {
  font-size: 12px;
}
.recent-transactions-card .data tbody .content-box .image {
  width: 15px;
  gap: 3px;
}
.recent-transactions-card .data tbody .content-box img {
  width: 100%;
}
.recent-transactions-card .data tbody .detail .image {
  width: 20%;
}
.gap-10 {
  gap: 10px;
}
.recent-transactions-card .data tbody .detail img {
  width: 100%;
  border-radius: 50%;
}
.recent-transactions-card .data thead tr th {
  padding: 10px 15px;
}
.recent-transactions-card .data tbody tr td {
  padding: 8px 15px;
}
.no-wrap {
  white-space: nowrap;
}

.text-align-end {
  text-align: end;
}
.color-00a63e {
  color: #00a63e;
}
.color-016630 {
  color: #016630;
}
.font-weight-500 {
  font-weight: 500;
}
.color-4a5565 {
  color: #4a5565;
}
.text-align-center {
  text-align: center;
}
.justify-content-center {
  justify-content: center;
}
.align-item-center {
  align-items: center;
}
.padding-2-7 {
  padding: 2px 7px;
  border-radius: 15px;
}
.padding-5 {
  padding: 1px 2px;
  border-radius: 15px;
}
.padding-10 {
  padding: 5px 8px;
}
.background-DBFCE7 {
  background-color: #dbfce7;
}
.flex-direction-column {
  flex-direction: column;
}
.justify-content-end {
  justify-content: flex-end;
}
.width-20 {
  width: 29%;
}
.border-radius-50 {
  border-radius: 50%;
}
.background-FFEDD4 {
  background-color: #ffedd4;
}
.color-F54900 {
  color: #f54900;
}
.color-FEF9C2 {
  background-color: #fef9c2;
}
.width-fit-content {
  width: fit-content;
}
.margin-auto {
  margin: auto;
}
.background-DBEAFE {
  background-color: #dbeafe;
}
.color-155DFC {
  color: #155dfc;
}

.background-F3E8FF {
  background-color: #f3e8ff;
}
.font-color-6E11B0 {
  color: #6e11b0;
}
.background-FFE2E2 {
  background-color: #ffe2e2;
}
.background-E0E7FF {
  background-color: #e0e7ff;
}
.background-CEFAFE {
  background-color: #cefafe;
}
.font-color-0092B8 {
  color: #0092b8;
}
.background-D0FAE5 {
  background-color: #d0fae5;
}
.font-color-009966 {
  color: #009966;
}
.font-color-4F39F6 {
  color: #4f39f6;
}
.monthly-bills-card {
  margin-top: 20px;
}
.monthly-bills-card .inner {
  padding: 20px 15px;
  border: 1px solid #e2c6c8;
  border-radius: 15px;
}

.justify-content-space-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.font-18 {
  font-size: 18px;
}
.font-weight-700 {
  font-weight: 700;
}
.monthly-bills-card .inner .title div span.pointer {
  transition:
    cursor 0.3s,
    color 0.2s;
}
.monthly-bills-card .inner .info {
  padding: 10px 0;
}
.monthly-bills-card .inner .title div span.pointer:hover {
  cursor: pointer;
  color: #101828;
}
.color-D08700 {
  color: #d08700;
}
.padding-9 {
  padding: 3px 5px;
  border-radius: 10px;
}
.color-f97200 {
  color: #f97200;
}
.color-fb2c36 {
  color: #fb2c36;
}
.color-00c950 {
  color: #00c950;
}
.color-E7000B {
  color: #e7000b;
}
.color-296BFC {
  color: #296bfc;
}
.width-25 {
  width: 50%;
}
.background-F9FAFB {
  background-color: #f9fafb;
}
.border-radius-15 {
  border-radius: 15px;
}
.border-1-F9FAFB {
  border: 1px solid #f9fafb;
}
.gap-15 {
  gap: 15px;
}
.padding-15 {
  padding: 15px;
}
.budget-overview-card {
  margin-top: 20px;
}
.budget-overview-card .inner {
  padding: 20px 15px;
  border: 1px solid #e2c6c8;
  border-radius: 15px;
}
.budget-overview-card .inner .title div span.pointer {
  transition: all 0.2s;
}
.budget-overview-card .inner .title div span.pointer:hover {
  cursor: pointer;
  color: #101828;
}
.budget-overview-card .inner .full-balance {
  padding: 20px 10px;
  background-color: #eef4ff;
  border-radius: 14px;
}
.font-24 {
  font-size: 24px;
}
.color-1c398e {
  color: #1c398e;
}
.padding-top-10 {
  padding-top: 10px;
}
.budget-overview-card .inner .full-balance {
  margin-top: 15px;
}
.budget-overview-card .inner .full-balance .parent {
  width: 100%;
  border-radius: 20px;
  height: 7px;
  background-color: #e5e7eb;
}
.budget-overview-card .inner .full-balance .parent .child {
  width: 82.5%;
  height: 100%;
  border-radius: 20px;
  background-color: #5868ff;
  margin-left: auto;
}
.color-166534 {
  color: #166534;
}
.padding-8 {
  padding: 8px;
  border-radius: 10px;
}
.budget-overview-card .inner .entertainment {
  margin-top: 5px;
  padding: 20px 10px;
  background-color: #eef4ff;
  border-radius: 14px;
  border: 1px solid #dce0e4;
  margin-top: 20px;
  transition:
    transform 0.2s,
    box-shadow 0.3s;
}
.budget-overview-card .inner .entertainment:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 2px 2px #dce0e4;
}
.budget-overview-card .inner .entertainment .parent {
  width: 100%;
  border-radius: 20px;
  height: 7px;
  background-color: #e5e7eb;
}
.budget-overview-card .inner .entertainment .parent .child {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background-color: #ff6900;
  margin-left: auto;
}
.background-DCFCE7 {
  background-color: #dcfce7;
}
.color-991b1b {
  color: #991b1b;
}
.background-FEE2E2 {
  background-color: #fee2e2;
}
.padding-4-10 {
  padding: 4px 10px;
  border-radius: 15px;
}
.budget-overview-card .inner .Bills {
  padding: 20px 10px;
  background-color: #eef4ff;
  border-radius: 14px;
  border: 1px solid #dce0e4;
  margin-top: 14px;
  transition:
    transform 0.2s,
    box-shadow 0.3s;
}
.budget-overview-card .inner .Bills:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 2px 2px #dce0e4;
}
.budget-overview-card .inner .Bills .parent {
  margin-top: 5px;
  width: 100%;
  border-radius: 20px;
  height: 7px;
  background-color: #e5e7eb;
}
.budget-overview-card .inner .Bills .parent .child {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fb2c36;
  margin-left: auto;
}
.color-92400e {
  background-color: #92400e;
}
.background-FEF3C7 {
  background-color: #fef3c7;
}
.background-FCE7F3 {
  background-color: #fce7f3;
}
.color-E60076 {
  color: #e60076;
}
.budget-overview-card .inner .health {
  padding: 20px 10px;
  background-color: #eef4ff;
  border-radius: 14px;
  border: 1px solid #dce0e4;
  margin-top: 14px;
  transition:
    transform 0.2s,
    box-shadow 0.3s;
}
.budget-overview-card .inner .health:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 2px 2px #dce0e4;
}
.budget-overview-card .inner .health .parent {
  margin-top: 5px;
  width: 100%;
  border-radius: 20px;
  height: 7px;
  background-color: #e5e7eb;
}
.budget-overview-card .inner .health .parent .child {
  width: 80%;
  height: 100%;
  border-radius: 20px;
  background-color: #f6339a;
  margin-left: auto;
}
.budget-overview-card .inner .Home-supplies {
  padding: 20px 10px;
  background-color: #eef4ff;
  border-radius: 14px;
  border: 1px solid #dce0e4;
  margin-top: 14px;
  transition:
    transform 0.2s,
    box-shadow 0.3s;
}
.budget-overview-card .inner .Home-supplies:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 2px 2px #dce0e4;
}
.budget-overview-card .inner .Home-supplies .parent {
  margin-top: 5px;
  width: 100%;
  border-radius: 20px;
  height: 7px;
  background-color: #e5e7eb;
}
.budget-overview-card .inner .Home-supplies .parent .child {
  width: 86%;
  height: 100%;
  border-radius: 20px;
  background-color: #00c950;
  margin-left: auto;
}

.income-vs-expenses-chart-card .inner .title div span.pointer {
  transition: 0.3s;
}
.income-vs-expenses-chart-card .inner .title div span.pointer:hover {
  cursor: pointer;
  color: #101828;
}
.income-vs-expenses-chart-card {
  margin-top: 20px;
}
.income-vs-expenses-chart-card .inner {
  padding: 20px 15px;
  border: 1px solid #e2c6c8;
  border-radius: 15px;
}
.income-vs-expenses-chart-card .inner .parent {
  width: 12px;
  height: 12px;
  background-color: #ef4444;
  border-radius: 3px;
}

.income-vs-expenses-chart-card .inner .child {
  width: 12px;
  height: 12px;
  background-color: #10b981;
  border-radius: 3px;
}
.color-64748b {
  color: #64748b;
}
.income-vs-expenses-chart-card .inner .anylises {
  padding-top: 65px;
  gap: 60px;
}
.income-vs-expenses-chart-card .inner .anylises .align-item-end {
  align-items: flex-end;
}
.income-vs-expenses-chart-card .inner .anylises .column-1 {
  width: 16px;
  height: 44px;
  background-color: #ef4444;
  transition: 0.5s;
}
.income-vs-expenses-chart-card .inner .anylises .column-1:hover {
  background-color: #f26969;
}
.income-vs-expenses-chart-card .inner .anylises .min-column-1 {
  width: 15px;
  height: 95px;
  background-color: #10b981;
  transition: 0.5s;
}
.income-vs-expenses-chart-card .inner .anylises .min-column-1:hover {
  background-color: #40c79a;
}
.income-vs-expenses-chart-card .inner .anylises .column-2 {
  width: 15px;
  height: 38px;
  background-color: #ef4444;
  transition: 0.5s;
}
.income-vs-expenses-chart-card .inner .anylises .column-2:hover {
  background-color: #f26969;
}
.income-vs-expenses-chart-card .inner .anylises .min-column-2 {
  width: 15px;
  height: 91px;
  background-color: #10b981;
  transition: 0.5s;
}
.income-vs-expenses-chart-card .inner .anylises .min-column-2:hover {
  background-color: #40c79a;
}
.income-vs-expenses-chart-card .inner .anylises .column-3 {
  width: 15px;
  height: 44px;
  background-color: #ef4444;
}
.income-vs-expenses-chart-card .inner .anylises .column-3:hover {
  background-color: #f26969;
}
.income-vs-expenses-chart-card .inner .anylises .min-column-3 {
  width: 15px;
  height: 98px;
  background-color: #10b981;
  transition: 0.5s;
}
.income-vs-expenses-chart-card .inner .anylises .min-column-3:hover {
  background-color: #40c79a;
}
.income-vs-expenses-chart-card .inner .anylises .column-4 {
  width: 15px;
  height: 42px;
  background-color: #ef4444;
  transition: 0.5s;
}
.income-vs-expenses-chart-card .inner .anylises .column-4:hover {
  background-color: #f26969;
}
.income-vs-expenses-chart-card .inner .anylises .min-column-4 {
  width: 15px;
  height: 92px;
  background-color: #10b981;
}
.income-vs-expenses-chart-card .inner .anylises .min-column-4:hover {
  background-color: #40c79a;
}
.account-summary-card .inner .title div span.pointer {
  transition: cursor 0.3s;
}
.inner .title div span.pointer {
  transition: 0.3s;
}
.account-summary-card .inner .title div span.pointer:hover {
  cursor: pointer;
  color: #101828;
}
.account-summary-card {
  margin-top: 20px;
}
.account-summary-card .inner {
  padding: 20px 15px;
  border: 1px solid #e2c6c8;
  border-radius: 15px;
}
.color-9810FA {
  color: #9810fa;
}
.account-summary-card .inner .current-account {
  padding: 16px;
  margin-top: 24px;
  border: 1px solid #f9fafb;
  border-radius: 15px;
}
.account-summary-card .inner .Savings-account {
  padding: 16px;
  margin-top: 15px;
  border: 1px solid #f9fafb;
  border-radius: 15px;
}
.account-summary-card .inner .credit-card {
  padding: 16px;
  margin-top: 15px;
  border: 1px solid #f9fafb;
  border-radius: 15px;
}
.income-vs-expenses-chart-card .inner .title div span.pointer {
  transition: 0.3s;
}
.payment-methods-card .inner .title div span.pointer:hover {
  cursor: pointer;
  color: #101828;
}
.payment-methods-card {
  margin-top: 20px;
}
.payment-methods-card .inner {
  padding: 20px 15px;
  border: 1px solid #e2c6c8;
  border-radius: 15px;
  perspective: 1000px;
}

.payment-methods-card .inner .visa-card {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 220px;
  transition: transform 0.6s;
}

.payment-methods-card .inner .visa-card .front {
  padding: 29px;
  background-color: #5348b8;
  border-radius: 15px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.payment-methods-card .inner .visa-card:hover {
  transform: rotatey(180deg);
}

.payment-methods-card .inner .visa-card .front .parent {
  width: 45px;
  height: 30px;
  padding: 4px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #5f55bd;
}

.payment-methods-card .inner .visa-card .front .parent .child {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #9f99d7;
}

.bacground-fff {
  background-color: #fff;
}

.padding-4-2 {
  padding: 2px 4px;
}

.background-5348B8 {
  color: #5348b8;
}

.color-fff {
  color: #fff;
}

.color-372AAC {
  color: #372aac;
}

.payment-methods-card .inner .visa-card .front .icon {
  position: relative;
}

.payment-methods-card .inner .visa-card .front span.positioning {
  position: absolute;
  top: -65%;
  left: -17px;
  background-color: #5348b8c9;
  padding: 4px 15px;
  border-radius: 15px;
}

.font-20 {
  font-size: 20px;
}

.padding-top-44 {
  padding-top: 44px;
}

.padding-top-20 {
  padding-top: 20px;
}

.payment-methods-card .inner .visa-card .back {
  padding: 29px;
  background-color: #0f1624;
  border-radius: 15px;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.payment-methods-card .inner .visa-card .back .black {
  width: 100%;
  height: 25px;
  background-color: #1d1d1dea;
  border-radius: 6px;
}

.payment-methods-card .inner .visa-card .back .parent {
  width: 100%;
  height: 25px;
  border-radius: 6px;
  background-color: #f1f4f8;
}

.payment-methods-card .inner .visa-card .back .parent .child {
  padding: 0 4px 0 20px;
}
.payment-methods-card .inner .visa-card .back .parent .child .bg {
  background-color: #d6d9dd;
  width: 89%;
  height: 10px;
  transform: skewX(-6deg);
}

.font-10 {
  font-size: 10px;
}

.color-ffffff7 {
  color: #ffffff7a;
}

.color-F1F4F8 {
  color: #f1f4f8;
}

.color-000000d9 {
  color: #000000d9;
}

.color-111827 {
  color: #111827;
}

.color-d1d5dc {
  color: #d1d5dc;
}

.payment-methods-card .inner .visa-card .back .number {
  margin-top: 55px;
  position: relative;
}

.payment-methods-card .inner .visa-card .back .number span.position {
  position: absolute;
  top: -23px;
  left: 27px;
}

.margin-8 {
  margin-top: 8px;
}

.margin-10 {
  margin-top: 10px;
}
.payment-methods-card .inner .mastercard-container {
  perspective: 1000px;
}

.payment-methods-card .inner .mastercard-card {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 220px;
  transition: transform 0.6s;
  margin-top: 16px;
}

.payment-methods-card .inner .mastercard-container:hover .mastercard-card {
  transform: rotateY(180deg);
}

.payment-methods-card .inner .mastercard-card .front {
  padding: 29px;
  background-color: #c01a3a;
  border-radius: 15px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.payment-methods-card .inner .mastercard-card .front .parent {
  width: 45px;
  height: 30px;
  padding: 4px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #ffffff33;
}

.payment-methods-card .inner .mastercard-card .front .parent .child {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #ffffff66;
}

.color-C01A3A {
  color: #c01a3a;
}

.payment-methods-card .inner .mastercard-card .front .icon {
  position: relative;
}

.payment-methods-card .inner .mastercard-card .back {
  padding: 29px;
  background-color: #0f1624;
  border-radius: 15px;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.payment-methods-card .inner .mastercard-card .back .black {
  width: 100%;
  height: 25px;
  background-color: #1d1d1dea;
  border-radius: 6px;
}

.payment-methods-card .inner .mastercard-card .back .parent {
  width: 100%;
  height: 25px;
  border-radius: 6px;
  background-color: #f1f4f8;
}

.payment-methods-card .inner .mastercard-card .back .parent .child {
  padding: 0 4px 0 20px;
}

.payment-methods-card .inner .mastercard-card .back .parent .child .bg {
  background-color: #d6d9dd;
  width: 89%;
  height: 10px;
  transform: skewX(-6deg);
}

.payment-methods-card .inner .mastercard-card .back .number {
  margin-top: 55px;
  position: relative;
}

.payment-methods-card .inner .mastercard-card .back .number span.position {
  position: absolute;
  top: -23px;
  left: 27px;
}

.payment-methods-card .inner .paypal-container {
  perspective: 1000px;
}

.payment-methods-card .inner .paypal-card {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 220px;
  transition: transform 0.6s;
  margin-top: 16px;
}

.payment-methods-card .inner .paypal-container:hover .paypal-card {
  transform: rotateY(180deg);
}
.payment-methods-card .inner .paypal-card .front {
  padding: 29px;
  background-color: #1b3ab4;
  border-radius: 15px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.payment-methods-card .inner .paypal-card .front .parent {
  width: 45px;
  height: 30px;
  padding: 4px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #ffffff33;
}

.payment-methods-card .inner .paypal-card .front .parent .child {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #ffffff66;
}

.payment-methods-card .inner .paypal-card .front .icon {
  position: relative;
}

.payment-methods-card .inner .paypal-card .back {
  padding: 29px;
  background-color: #0f1624;
  border-radius: 15px;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.payment-methods-card .inner .paypal-card .back .black {
  width: 100%;
  height: 25px;
  background-color: #1d1d1dea;
  border-radius: 6px;
}

.payment-methods-card .inner .paypal-card .back .parent {
  width: 100%;
  height: 25px;
  border-radius: 6px;
  background-color: #f1f4f8;
}

.payment-methods-card .inner .paypal-card .back .parent .child {
  padding: 0 4px 0 20px;
}

.payment-methods-card .inner .paypal-card .back .parent .child .bg {
  background-color: #d6d9dd;
  width: 89%;
  height: 10px;
  transform: skewX(-6deg);
}

.payment-methods-card .inner .paypal-card .back .number {
  margin-top: 55px;
  position: relative;
}

.payment-methods-card .inner .paypal-card .back .number span.position {
  position: absolute;
  top: -23px;
  left: 27px;
}

.color-00d166 {
  color: #00d166;
}

.text-align-start {
  text-align: start;
}
